@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.counter {
  background-color: rgb(0, 157, 18);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.even {
  background-color: blue;
}

.odd {
  background-color: brown;
}

.count {
  font-size: 3rem;
}

.buttons {
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
